#chat-container {
  height: 96%;
  min-height: 96%;
  display: flex;
  flex-direction: column;

  > div#stream {
    background-color: lightgrey;
    min-height: 150px;
    flex: 1;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 4em;
  justify-content: space-between;

  .logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    img {
      height: 100%;
    }

    .title {
      font-family: 'Lobster', cursive;
      font-size: larger;
    }

  }

  .right-header {
    display: flex;
    align-items: center;
    padding-right: 1em;

    .login {
      font-family: 'Tomorrow', sans-serif;
    }
  }
}
