#input-area-test {
  display: flex;
  flex-direction: row;

  form {
    width: 100%;
  }

  div {
    display: flex;
  }

  .input-message {
    border-bottom: solid 1px black;
    width: 100%;

    input {
      width: 100%;
      border: none;
    }

    input:focus {
      border: none;
      outline: none;
    }
  }

}

.label-input {
  margin: auto 5px;
}
