.message-container {
  padding: 2px auto;

  span {
    font-size: small;
    font-family: 'Tomorrow', sans-serif;
  }
}

.message-date, .message-author {
  font-style: italic;
}

.messages-container {
  padding: 5px;
  max-height: 95%;
  overflow-y: scroll;
}

