<div class="middle-centered">
  <div class="as-column-centered">
    <img class="centered" src="assets/cat.svg">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div id="login-input">
        <div class="login">
          <label>
            <div class="input-decoration">
              <input name="message-login"
                     placeholder="choose a name..."
                     [(ngModel)]="login"
                   required>
            </div>
          </label>
        </div>
        <div>
          <button type="submit" [disabled]="loginForm.invalid">></button>
        </div>
      </div>
    </form>
  </div>
</div>
